[user]
	name = Maj Alter
	email = majalter1@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	autocrlf = input
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://github.com"]
	username = almajter
